<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
}
:root{
	--g:gray;
	--lg:lightgray;
	--dig:dimgray;
	--dag:darkgray;
	--08:#080808;
	--fa:#fafafa;
	--cy:#ffbb09;
	/* 참깨 UI에 사용하기로 한 대표 3가지 색이다. 양극의 명도값은 사용하지 않았고, 간격은 조정했다.
	'CharmggaeYellow' 라고 가제로 정했던 노란색 계열의 색도 넣긴했는데 색 그냥 안쓸 계획이다.*/
}
/* 높이를 viewport 100으로 쓰는 root div */
#root-1{
	width: 100vw;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* 높이를 viewport 없이 컨텐츠 기준으로 쓰는 root div */
#root-2{
	width: 100vw;
	height: max-content;
	display: flex;
}
.con-r{
	width:20vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--g);
}
.con-c{
	width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--g);

}
.b-box{
	width: 15vw;
	height: 5vh;
	background-color:var(--lg);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1vh;
	border-radius: 1vw;
}
.s-box{
	width: 4vw;
	height: 3vh;
	background-color: var(--08);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:1vw;
	color:var(--fa)

}